version: '3.8'

services:
  server:
    build: ./server
    ports:
      - "3001:3001"$
    environment:
      - NODE_ENV=production

  client:
    build: ./client
    ports:
      - "3000:80"
    depends_on:
      - server